{% if be_service_v1 is defined %}
upstream {{ be_service_v1 }} {
  server 127.0.0.1:8080;
}
{% else %}
upstream python {
{{'{{'}}- range service "{{ servicename }}" {{'}}'}}
  server {{'{{'}} .Address {{'}}'}};
{{'{{'}}- end {{'}}'}}
}
{% endif %}
server {
   listen 80;
   location / {
{% if be_service_v1 is defined %}
       proxy_pass http://{{ be_service_v1 }};
{% else %}
       proxy_pass http://python;
{% endif %}
 }
}